---
import '../index.css'

const ENV = [
  { name: 'NODE_VERSION', value: process.env.NODE_VERSION },
  { name: 'NODE_ENV', value: process.env.NODE_ENV },
  { name: 'NETLIFY', value: process.env.NETLIFY },
  { name: 'BUILD_ID', value: process.env.BUILD_ID },
  { name: 'CONTEXT', value: process.env.CONTEXT },
  { name: 'NETLIFY_PREVIEW_SERVER', value: process.env.NETLIFY_PREVIEW_SERVER },
  { external: true, href: process.env.REPOSITORY_URL, name: 'REPOSITORY_URL', value: process.env.REPOSITORY_URL },
  { external: true, href: `${process.env.REPOSITORY_URL}/tree/${process.env.BRANCH}`, name: 'BRANCH', value: process.env.BRANCH },
  { external: true, href: `${process.env.REPOSITORY_URL}/tree/${process.env.HEAD}`, name: 'HEAD', value: process.env.HEAD },
  { external: true, href: `${process.env.REPOSITORY_URL}/commit/${process.env.COMMIT_REF}`, name: 'COMMIT_REF', value: process.env.COMMIT_REF },
  { external: true, href: `${process.env.REPOSITORY_URL}/commit/${process.env.CACHED_COMMIT_REF}`, name: 'CACHED_COMMIT_REF', value: process.env.CACHED_COMMIT_REF },
  { name: 'PULL_REQUEST', value: process.env.PULL_REQUEST },
  { external: true, href: `${process.env.REPOSITORY_URL}/pull/${process.env.REVIEW_ID}`, name: 'REVIEW_ID', value: process.env.REVIEW_ID },
  { href: process.env.URL, name: 'URL', value: process.env.URL },
  { href: process.env.DEPLOY_URL, name: 'DEPLOY_URL', value: process.env.DEPLOY_URL },
  { href: process.env.DEPLOY_PRIME_URL, name: 'DEPLOY_PRIME_URL', value: process.env.DEPLOY_PRIME_URL },
  { external: true, href: `https://app.netlify.com/projects/${process.env.SITE_NAME}/deploys/${process.env.DEPLOY_ID}`, name: 'DEPLOY_ID', value: process.env.DEPLOY_ID },
  { external: true, href: `https://app.netlify.com/projects/${process.env.SITE_NAME}/deploys`, name: 'SITE_NAME', value: process.env.SITE_NAME },
  { external: true, href: `https://app.netlify.com/projects/${process.env.SITE_ID}/deploys`, name: 'SITE_ID', value: process.env.SITE_ID },
  { name: 'ACCOUNT_ID', value: process.env.ACCOUNT_ID },
  { name: 'INCOMING_HOOK_TITLE', value: process.env.INCOMING_HOOK_TITLE },
  { external: true, href: process.env.INCOMING_HOOK_URL, name: 'INCOMING_HOOK_URL', value: process.env.INCOMING_HOOK_URL },
  { name: 'INCOMING_HOOK_BODY', value: process.env.INCOMING_HOOK_BODY },
]
---

<html lang="en">
<head>
<meta charset="utf-8" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<meta name="viewport" content="width=device-width" />
<meta name="color-scheme" content="dark light"/>
<title>sysenv</title>
</head>
<body>
<table>
  <caption>
    <h1>
      <a
        href="https://docs.netlify.com/configure-builds/environment-variables/#read-only-variables"
        target="_blank"
      >
        Netlify’s environment variables
      </a>
    </h1>
  </caption>
  <tbody>
    {ENV.map((env) => (
      <tr>
        <th>{env.name}</th>
        <td>{env.href ? <a href={env.href} target={env.external ? '_blank' : undefined}>{env.value}</a> : env.value}</td>
      </tr>
    ))}
  </tbody>
  <tfoot>
    <tr>
      <td colSpan={2}>
        <div>
          <a href="https://nhan.dev" target="_blank">nhan.dev</a>
          <a href="https://github.com/dnhn/sysenv.netlify.app" target="_blank">GitHub</a>
        </div>
      </td>
    </tr>
  </tfoot>
</table>
</body>
</html>
