---
import './index.css'
---

<html lang="en">
<head>
<meta charset="utf-8" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<meta name="viewport" content="width=device-width" />
<meta name="color-scheme" content="dark light"/>
<title>sysenv</title>
</head>
<body>
<table>
  <caption>
    <h1>
      <a
        href="https://docs.netlify.com/configure-builds/environment-variables/#read-only-variables"
        target="_blank"
      >
        Netlify’s environment variables
      </a>
    </h1>
  </caption>
  <tbody>
    <tr>
      <th>NODE_VERSION</th>
      <td>{process.env.NODE_VERSION}</td>
    </tr>
    <tr>
      <th>NODE_ENV</th>
      <td>{process.env.NODE_ENV}</td>
    </tr>
    <tr>
      <th>NETLIFY</th>
      <td>{process.env.NETLIFY}</td>
    </tr>
    <tr>
      <th>BUILD_ID</th>
      <td>{process.env.BUILD_ID}</td>
    </tr>
    <tr>
      <th>CONTEXT</th>
      <td>{process.env.CONTEXT}</td>
    </tr>
    <tr>
      <th>NETLIFY_PREVIEW_SERVER</th>
      <td>{process.env.NETLIFY_PREVIEW_SERVER}</td>
    </tr>
    <tr>
      <th>REPOSITORY_URL</th>
      <td>{process.env.REPOSITORY_URL}</td>
    </tr>
    <tr>
      <th>BRANCH</th>
      <td>{process.env.BRANCH}</td>
    </tr>
    <tr>
      <th>HEAD</th>
      <td>{process.env.HEAD}</td>
    </tr>
    <tr>
      <th>COMMIT_REF</th>
      <td>{process.env.COMMIT_REF}</td>
    </tr>
    <tr>
      <th>CACHED_COMMIT_REF</th>
      <td>{process.env.CACHED_COMMIT_REF}</td>
    </tr>
    <tr>
      <th>PULL_REQUEST</th>
      <td>{process.env.PULL_REQUEST}</td>
    </tr>
    <tr>
      <th>REVIEW_ID</th>
      <td>{process.env.REVIEW_ID}</td>
    </tr>
    <tr>
      <th>URL</th>
      <td>{process.env.URL}</td>
    </tr>
    <tr>
      <th>DEPLOY_URL</th>
      <td>{process.env.DEPLOY_URL}</td>
    </tr>
    <tr>
      <th>DEPLOY_PRIME_URL</th>
      <td>{process.env.DEPLOY_PRIME_URL}</td>
    </tr>
    <tr>
      <th>DEPLOY_ID</th>
      <td>{process.env.DEPLOY_ID}</td>
    </tr>
    <tr>
      <th>SITE_NAME</th>
      <td>{process.env.SITE_NAME}</td>
    </tr>
    <tr>
      <th>SITE_ID</th>
      <td>{process.env.SITE_ID}</td>
    </tr>
    <tr>
      <th>ACCOUNT_ID</th>
      <td>{process.env.ACCOUNT_ID}</td>
    </tr>
    <tr>
      <th>INCOMING_HOOK_TITLE</th>
      <td>{process.env.INCOMING_HOOK_TITLE}</td>
    </tr>
    <tr>
      <th>INCOMING_HOOK_URL</th>
      <td>{process.env.INCOMING_HOOK_URL}</td>
    </tr>
    <tr>
      <th>INCOMING_HOOK_BODY</th>
      <td>{process.env.INCOMING_HOOK_BODY}</td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td colSpan={2}>
        <div>
          <a href="https://nhan.dev" target="_blank">nhan.dev</a>
          <a href="https://github.com/dnhn/sysenv.netlify.app" target="_blank">GitHub</a>
        </div>
      </td>
    </tr>
  </tfoot>
</table>
</body>
</html>
